@using EngineModel.Engine;
@model List<Room>

<div class="container">
  <h4>Room List</h4>         
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">RoomId</th>
                <th scope="col">Daily Price</th>
                <th scope="col">Room Location</th>
                <th scope="col">Room Status</th>
                <!--th scope="col"></th-->
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++) {
                <tr>
                    <td>@Model[i].RoomId</td>
                    <td>@Model[i].DailyPrice</td>
                    <td>@Model[i].Location</td>
                    <td>@Model[i].Status</td>
                    <!--td></td-->
                    <td><a class="btn btn-outline-dark" asp-action="Details" asp-route-roomId="@Model[i].RoomId">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <div>
        <a class="btn btn-primary" asp-action="Create" >Add Room</a>
    </div>
</div>
<br>